This page contains some CPU heavy operations

<div class="row">
  <div class="col-12 height-200">
    <app-load-component *perfDeferredRender></app-load-component>
  </div>
  <div class="col-12 height-200">
    <app-load-component *perfDeferredRender></app-load-component>
  </div>
  <div class="col-12 height-200">
    <app-load-component *perfDeferredRender></app-load-component>
  </div>
</div>

<div visibility-anchor #visAnchor1="visibility-anchor">
  <app-load-component *perf-on-visible></app-load-component>
</div>
<div>
  <app-load-component *perfOnVisible="visAnchor1"></app-load-component>
</div>
